.page {
    display: flex;
    flex-direction: column;
}

.header {
    height: 10vh;
}

.footer {
    height: 10vh;
}

@media screen and (max-height:640px) {
    .header {
        height: auto;
    }

    .footer {
        height: auto;
    }
}