.header {
    background-color: #000000;
    display: flex;
    align-items: center;
    padding: 8px 30px;
}

@media screen and (max-width:600px) {
    .header {
        padding: 8px;
    }
}

.logo {
    height: 66px;
    width: 66px;
    cursor: pointer;
}

.navItems {
    list-style: none;
    margin-left: auto;
    margin-top: 15px;
}

.navItem {
    display: inline;
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
}

.btnSignUp {
    font-size: 14px;
    font-weight: bold;
}

a {
    color: rgba(255, 255, 255, 0.67);
}

a:hover {
    color: white;
}